.pencil{
    position: fixed;
    bottom: 80px;
    right: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 14px;
    background-color: $primary-color;
    color: #fff;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
    &:hover{
        transform: rotate(360deg);
    }
}
.footer{
    width: 97%;
    margin: 0 auto;
    padding: 10px 12px;
    position: fixed;
    background-color:rgba(255,255,255,1);
    bottom: 0;

    display: none;
    justify-content: space-between;
    .footer-link{
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 50%;
        transition: .2s;
       
    }
    .active{
        color: #fff;
        background-color: $primary-color;
        backdrop-filter: blur(8px);
    }
}