
.send-btn{
    padding: 5px 20px;
    background-color: $primary-color;
    color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid transparent;
    outline: none;
    cursor: pointer;
    transition: .2s;
    &:hover{
        border: 1.5px solid $primary-color;
        background-color: transparent;
        color: $primary-color;
    }
}
.hr{
    width:100%;
    margin: 0 auto;
    height: 1px;
    background-color: rgba(0,0,0,.05); 
    margin: 5px 0;
} 
@media(max-width:1240px){
    .home{
        width: 500px;
    }
}
@media(max-width:840px){
    .main-navbar{
        max-width: 70%;
        border-right: 0 px solid;
        
    }
    .header-input{
        font-size: 15px !important;
    }
    .header-input::placeholder{
        font-size: 15px !important;
    }
}
@media(max-width:720px){
    .container{
        padding: 0 0px;
    }
    .main-navbar{
       max-width: 90%;
    }
}
.home{
   overflow-y: scroll;
   height: 100vh; 
    width: 600px;
    padding: 0 10px;
    border-left: 1px solid  rgba(0,0,0,.05);
    border-right: 1px solid rgba(0,0,0,.05);
    @media(max-width:520px){
        .main-navbar{
            .header-text{
                display: none;
            }
            .user-img{
              img{
                display: block;
              }
            }
        }
    }
      .main-navbar{
       width: 600px;
       transform: translateX(-20px);
       background-color:rgba(255,255,255,.9);
       height: 100px;
       backdrop-filter: blur(8px);
       font-size: 18px;
       padding: 10px;
       position: fixed;
       .nav-cont{
        display: flex;
        align-items: center;
        gap: 34%;
        .logo{
            color: $primary-color;
            font-size: 22px;
            display: none;
        }
       }
       .user-img{
        img{
            display: none;
        }
       }
       
       @media(max-width:520px){
        .logo{
            display: flex !important;
        }
        .navbar-menu{
            padding: 0;
            .navbar-link{
                max-height: 32px;
                font-size: 13px !important;
            }
        }
        .user-img{
            img{
                display: flex;
                object-fit: cover;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
       }
    }
       .navbar-menu{
        display: flex;
        margin-top: 15px;
          .navbar-link{
              width: 50%;
              font-size: 15px;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 50px;
              &:hover{
                background-color:rgba(220, 219, 220, 0.867);;
              }
            }
            .active{
              border-bottom: 3px solid $primary-color;
              border-width: 4px;
            }
       }
    }
    .home-header{
        margin-top: 100px;
        padding-top: 10px;
        display: flex;
        width: 100%;
        gap: 10px;
        margin-bottom: 15px;
        .header-img{
            img{
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 50%;
            }

        }
        .header-main{
            display: flex;
            gap: 25px;
            width: 100%;
            flex-direction: column;
            .header-input{
                margin-top: 12px;
                background-color: transparent;
                border: none;
                border-radius: 10px;
                outline: none;
                font-size: 17px;
                padding-left: 10px;
                &::placeholder{
                    font-size: 19px;
                }
            }
            
            .header-actions{
                display: flex;
                justify-content: space-between;
                margin-left: 10px;
                .group{
                    display: flex;
                color: $primary-color;
                    gap: 10px;
                    .action-btn{
                        background-color: transparent;
                        border: none;
                        outline: none;
                        font-size: 20px;
                        cursor: pointer;
                        }
                }
            }
        }
    }
}