@import 'components';
.sidebar{
    width: 263px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
.nav-container{
    display: flex;
    gap: 10px;
    
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    .sidebar-logo{
        padding: 10px;
        color: $primary-color;
        font-size: 26px;
        margin-left: 5px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 30px;
        gap: 10px;
        .navbar-link{
            font-size: 19px;
            line-height: 15px;
            svg{
                font-size: 24px;
            }
        }
        @media(max-width: 840px){
            .container{
                padding: 0 10px;
                margin: 0 auto;
            }
           
            
            
        }
      
        
        
        @media(max-width:1330px){
            
            .navbar-link{
                max-width: 45px;
                span{
                    display: none;
                }
                .pen-side{
                    display: flex;
                }
                .tweet{
                    border-radius: 50% !important;
                    padding:10px !important;
                }
                
            }
            .navbar{
                
                margin: 0;
                padding: 0;
            }
            
        }
        .navbar-link{
            display: flex;
            gap: 15px;
            align-items: center;
            width: auto;
            color: $secondary-color;
            padding: 10px 13px;
            transition: .2s;
            border-radius: 30px;

            &:focus{
                background-color: $primary-color;
                width: 100%;
                color: #fff;
                transform: scale(1.02);
            }
            &:hover{
                background-color: $primary-color;
                width: 100%;
                color: #fff;
                transform: scale(1.02);
            }
           
        }
        .active{
            background-color: $primary-color;
            width: 100%;
            color: #fff;
            transform: scale(1.02);
           }
        .tweet{
            padding: 14px;
            width: 100%;
            min-width: 53px;
            margin-top: 10px;
            background-color: $primary-color;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                display: none;
            }
        }

    }
}
}