.container {
  padding: 0 140px;
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1450px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0;
  }
}
.news-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.news-card .news-card_info .card-date {
  font-size: 12px;
  color: #5B7083;
}
.news-card .news-card_info .card_desc {
  font-size: 15px;
}
.news-card .news-card_info .card_hash {
  color: #5B7083;
  font-size: 14px;
}
.news-card .news-card_info .card_hash a {
  color: #1DA1F2;
}
.news-card .card-img .card-user-img {
  border-radius: 15px;
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.show-more {
  font-size: 15px;
  color: #1DA1F2;
  padding-left: 10px;
}

.check {
  color: #1DA1F2;
}

.sidebar {
  width: 263px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar .nav-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: 100vh;
}
.sidebar .nav-container .sidebar-logo {
  padding: 10px;
  color: #1DA1F2;
  font-size: 26px;
  margin-left: 5px;
}
.sidebar .nav-container .navbar {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  gap: 10px;
}
.sidebar .nav-container .navbar .navbar-link {
  font-size: 19px;
  line-height: 15px;
}
.sidebar .nav-container .navbar .navbar-link svg {
  font-size: 24px;
}
@media (max-width: 840px) {
  .sidebar .nav-container .navbar .container {
    padding: 0 10px;
    margin: 0 auto;
  }
}
@media (max-width: 1330px) {
  .sidebar .nav-container .navbar .navbar-link {
    max-width: 45px;
  }
  .sidebar .nav-container .navbar .navbar-link span {
    display: none;
  }
  .sidebar .nav-container .navbar .navbar-link .pen-side {
    display: flex;
  }
  .sidebar .nav-container .navbar .navbar {
    margin: 0;
    padding: 0;
  }
}
.sidebar .nav-container .navbar .navbar-link {
  display: flex;
  gap: 15px;
  align-items: center;
  width: auto;
  color: #0F1419;
  padding: 10px 13px;
  transition: 0.2s;
  border-radius: 30px;
}
.sidebar .nav-container .navbar .navbar-link:focus {
  background-color: #1DA1F2;
  width: 100%;
  color: #fff;
  transform: scale(1.02);
}
.sidebar .nav-container .navbar .navbar-link:hover {
  background-color: #1DA1F2;
  width: 100%;
  color: #fff;
  transform: scale(1.02);
}
.sidebar .nav-container .navbar .active {
  background-color: #1DA1F2;
  width: 100%;
  color: #fff;
  transform: scale(1.02);
}
.sidebar .nav-container .navbar .tweet {
  padding: 10px 15px;
  width: 100%;
  margin-top: 10px;
  background-color: #1DA1F2;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .nav-container .navbar .tweet svg {
  display: none;
}

.container {
  padding: 0 140px;
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1450px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0;
  }
}
.news-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.news-card .news-card_info .card-date {
  font-size: 12px;
  color: #5B7083;
}
.news-card .news-card_info .card_desc {
  font-size: 15px;
}
.news-card .news-card_info .card_hash {
  color: #5B7083;
  font-size: 14px;
}
.news-card .news-card_info .card_hash a {
  color: #1DA1F2;
}
.news-card .card-img .card-user-img {
  border-radius: 15px;
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.show-more {
  font-size: 15px;
  color: #1DA1F2;
  padding-left: 10px;
}

.check {
  color: #1DA1F2;
}

.sideCol {
  overflow-y: scroll;
  height: 100vh;
  /* width */
  width: 400px;
  padding-left: 30px;
}
.sideCol .title {
  font-size: 17px;
  padding: 5px;
}
.sideCol .hr {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 5px 0;
}
.sideCol .header {
  overflow: hidden;
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #fff;
}
.sideCol .header .search {
  min-height: 39px;
  border-radius: 20px 0 0 20px;
  outline: none;
  border: none;
  background-color: #EBEEF0;
  padding-left: 10px;
  color: gray;
  padding-bottom: 0.5px;
}
.sideCol .header .search-input {
  outline: none;
  border: 1px solid transparent;
  background-color: #EBEEF0;
  padding: 10px;
  width: 100%;
  max-width: 330px;
  margin-top: 10px;
  border-radius: 0 20px 20px 0;
}
@media (max-width: 1450px) {
  .sideCol .header .search-input {
    width: 350px;
  }
}
@media (max-width: 1300px) {
  .sideCol .header .container {
    max-width: 1100px;
  }
}
.sideCol .advance-section {
  width: 100%;
  height: auto;
  background-color: rgba(251, 248, 251, 0.867);
  margin-top: 60px;
  padding: 10px;
  border-radius: 10px;
}
.sideCol .advance-section .hr {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 5px 0;
}
.sideCol .who-follow {
  width: 100%;
  height: auto;
  background-color: rgba(251, 248, 251, 0.867);
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}
.sideCol .who-follow .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sideCol .who-follow .user .user-info {
  text-align: center;
}
.sideCol .who-follow .user .user-info .userFullName:first-child {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 5px;
}
.sideCol .who-follow .user .follow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  border: 2px solid #1DA1F2;
  color: #1DA1F2;
  border-radius: 20px;
  transition: 0.2s;
}
.sideCol .who-follow .user .follow:hover {
  background-color: #1DA1F2;
  color: #fff;
}
.sideCol .who-follow .user .user-img img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 0px;
}

.send-btn {
  padding: 5px 20px;
  background-color: #1DA1F2;
  color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid transparent;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}
.send-btn:hover {
  border: 1.5px solid #1DA1F2;
  background-color: transparent;
  color: #1DA1F2;
}

.hr {
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 5px 0;
}

@media (max-width: 1240px) {
  .home {
    width: 500px;
  }
}
@media (max-width: 840px) {
  .main-navbar {
    max-width: 70%;
    border-right: 0 px solid;
  }
  .header-input {
    font-size: 15px !important;
  }
  .header-input::-moz-placeholder {
    font-size: 15px !important;
  }
  .header-input:-ms-input-placeholder {
    font-size: 15px !important;
  }
  .header-input::placeholder {
    font-size: 15px !important;
  }
}
@media (max-width: 720px) {
  .container {
    padding: 0 0px;
  }
  .main-navbar {
    max-width: 90%;
  }
}
.home {
  overflow-y: scroll;
  height: 100vh;
  width: 600px;
  padding: 0 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
@media (max-width: 520px) {
  .home .main-navbar .header-text {
    display: none;
  }
  .home .main-navbar .user-img img {
    display: block;
  }
}
.home .main-navbar {
  width: 600px;
  transform: translateX(-10px);
  background-color: rgba(255, 255, 255, 0.9);
  height: 100px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  font-size: 18px;
  padding: 10px;
  position: fixed;
}
.home .main-navbar .nav-cont {
  display: flex;
  align-items: center;
  gap: 34%;
}
.home .main-navbar .nav-cont .logo {
  color: #1DA1F2;
  font-size: 22px;
  display: none;
}
.home .main-navbar .user-img img {
  display: none;
}
@media (max-width: 520px) {
  .home .main-navbar .logo {
    display: flex !important;
  }
  .home .main-navbar .navbar-menu {
    padding: 0;
  }
  .home .main-navbar .navbar-menu .navbar-link {
    max-height: 32px;
    font-size: 13px !important;
  }
  .home .main-navbar .user-img img {
    display: flex;
    -o-object-fit: cover;
       object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
.home .main-navbar .navbar-menu {
  display: flex;
  margin-top: 15px;
}
.home .main-navbar .navbar-menu .navbar-link {
  width: 50%;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.home .main-navbar .navbar-menu .navbar-link:hover {
  background-color: rgba(220, 219, 220, 0.867);
}
.home .main-navbar .navbar-menu .active {
  border-bottom: 3px solid #1DA1F2;
  border-width: 4px;
}
.home .home-header {
  margin-top: 100px;
  padding-top: 10px;
  display: flex;
  width: 100%;
  gap: 10px;
  margin-bottom: 15px;
}
.home .home-header .header-img img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.home .home-header .header-main {
  display: flex;
  gap: 25px;
  width: 100%;
  flex-direction: column;
}
.home .home-header .header-main .header-input {
  margin-top: 12px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 17px;
  padding-left: 10px;
}
.home .home-header .header-main .header-input::-moz-placeholder {
  font-size: 19px;
}
.home .home-header .header-main .header-input:-ms-input-placeholder {
  font-size: 19px;
}
.home .home-header .header-main .header-input::placeholder {
  font-size: 19px;
}
.home .home-header .header-main .header-actions {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
.home .home-header .header-main .header-actions .group {
  display: flex;
  color: #1DA1F2;
  gap: 10px;
}
.home .home-header .header-main .header-actions .group .action-btn {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.main-post {
  display: flex;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  gap: 20px;
}
.main-post .author-img img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.main-post .post-content .author-fullName {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  gap: 5px;
}
.main-post .post-content .author-fullName a {
  font-size: 15px;
  color: gray;
  font-weight: normal;
  margin: 0 5px;
}
.main-post .post-content .post-title {
  font-size: 17px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.main-post .post-content .post-media img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.main-post .post-content .actions {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
.main-post .post-content .actions a {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}
.main-post .post-content .actions .comment:hover {
  color: #1DA1F2;
}
.main-post .post-content .actions .retween:hover {
  color: rgb(105, 239, 105);
}
.main-post .post-content .actions .like:hover {
  color: rgb(214, 76, 76);
}
.main-post .post-content .actions .view:hover {
  color: #1DA1F2;
}
.main-post .post-content .actions .share:hover {
  color: #1DA1F2;
}

.main-content {
  justify-content: flex-start;
  max-height: 100vh;
  overflow-y: scroll;
}

.user-profile {
  max-height: 100vh;
  overflow-y: scroll;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.user-profile .prof_nav {
  text-transform: capitalize;
  padding: 20px;
  width: 600px;
  margin: 0 auto;
  transform: translateX(0%);
  background-color: rgba(255, 255, 255, 0.9);
  height: 60px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  font-size: 18px;
  position: fixed;
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 99;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
@media (max-width: 1240px) {
  .user-profile .img-edit {
    gap: 40% !important;
  }
  .user-profile .prof_nav {
    margin: 0;
  }
  .user-profile .user-profile {
    max-width: 1300px;
  }
}
@media (max-width: 820px) {
  .user-profile .user-profile {
    max-width: 70%;
  }
  .user-profile .main_section {
    max-width: 100%;
  }
  .user-profile .actions_btn {
    font-size: 11px !important;
  }
  .user-profile .user-img {
    margin-top: 10px;
  }
  .user-profile .user-img img {
    width: 100px !important;
    height: 100px !important;
  }
  .user-profile .actions {
    gap: 5px;
  }
  .user-profile .actions .activ-content {
    max-width: 90%;
  }
}
.user-profile .main_section {
  margin-top: 60px;
  width: 600px;
  display: flex;
  flex-direction: column;
}
.user-profile .main_section .user-placeholder {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  transition: 0.3s;
}
.user-profile .main_section .user-placeholder .placeholder {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-profile .main_section .user-placeholder .placeholder:hover {
  filter: blur(1.2px);
}
.user-profile .main_section .user-placeholder .img-edit {
  display: flex;
  gap: 300px;
}
.user-profile .main_section .user-placeholder .user-img {
  position: relative;
  top: -72px;
  left: 20px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  border: 4px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1.3s;
  cursor: pointer;
}
.user-profile .main_section .user-placeholder .user-img img {
  width: 140px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  transition: 0.2 0.3s;
}
.user-profile .main_section .user-placeholder .edit_btn {
  margin-top: 10px;
}
.user-profile .main_section .user-placeholder .edit_btn button {
  background-color: transparent;
  border: 1px solid rgb(207, 217, 222);
  padding: 4px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.user-profile .main_section .user-placeholder .edit_btn button:hover {
  background-color: rgba(220, 219, 220, 0.867);
}
.user-profile .main_section .user-info {
  margin-top: 100px;
  margin-left: 20px;
  max-height: 100vh;
  overflow-y: scroll;
}
.user-profile .main_section .user-info .user-full-name {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 19px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.user-profile .main_section .user-info .bio {
  margin-top: 10px;
}
.user-profile .main_section .user-info .joined {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.user-profile .main_section .user-info .actives {
  display: flex;
  margin-top: 10px;
  gap: 15px;
}
.user-profile .main_section .user-info .actives .follow-link {
  display: flex;
  gap: 10px;
}
.user-profile .main_section .user-info .actives .follow-link:hover {
  color: #1DA1F2;
}
.user-profile .actions {
  padding: 0 10px;
  margin-top: 30px;
}
.user-profile .actions .actions_btns {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.user-profile .actions .actions_btns .actions_btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.user-profile .actions .actions_btns .actions_btn:hover {
  background-color: rgba(220, 219, 220, 0.867);
}
.user-profile .actions .actions_btns .active {
  border-bottom: 3px solid #1DA1F2;
  border-width: 10%;
}
.user-profile .actions .activ-content {
  padding-right: 10px;
  max-width: 600px;
}

.tweets {
  height: 100vh;
  overflow-y: scroll;
}

.pencil {
  position: fixed;
  bottom: 80px;
  right: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 14px;
  background-color: #1DA1F2;
  color: #fff;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.pencil:hover {
  transform: rotate(360deg);
}

.footer {
  width: 97%;
  margin: 0 auto;
  padding: 10px 12px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  display: none;
  justify-content: space-between;
}
.footer .footer-link {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  transition: 0.2s;
}
.footer .active {
  color: #fff;
  background-color: #1DA1F2;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.container {
  padding: 0 140px;
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1450px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0;
  }
}
.news-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.news-card .news-card_info .card-date {
  font-size: 12px;
  color: #5B7083;
}
.news-card .news-card_info .card_desc {
  font-size: 15px;
}
.news-card .news-card_info .card_hash {
  color: #5B7083;
  font-size: 14px;
}
.news-card .news-card_info .card_hash a {
  color: #1DA1F2;
}
.news-card .card-img .card-user-img {
  border-radius: 15px;
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.show-more {
  font-size: 15px;
  color: #1DA1F2;
  padding-left: 10px;
}

.check {
  color: #1DA1F2;
}

.explore {
  border: 1px solid rgba(0, 0, 0, 0.05);
  max-height: 100vh;
  overflow-y: scroll;
  max-width: 600px;
}
.explore .search-cont {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  width: 600px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  transform: translate(-20px, 0px);
  margin-bottom: 20px;
}
.explore .search-cont form {
  padding: 0 15px;
  margin: 0;
  display: flex;
  align-items: center;
}
.explore .search-cont form .search-btn {
  padding: 5px 10px;
  border-radius: 40px 0 0 40px;
  border: 1px solid transparent;
  font-size: 19px;
  outline: none;
  min-height: 40px;
  background-color: #EBEEF0;
}
.explore .search-cont form .search-input {
  font-size: 17px;
  width: 400px;
  min-height: 40px;
  padding: 5px 10px;
  border-radius: 0px 40px 40px 0px;
  border: 1px solid transparent;
  outline: none;
  background-color: #EBEEF0;
}
.explore .ex_main-section {
  max-width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
.explore .ex_main-section .trend_card {
  margin: 0 auto;
  padding: 10px 20px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.explore .ex_main-section .trend_card:hover {
  background-color: rgba(216, 218, 222, 0.212);
}
.explore .ex_main-section .trend_card .card-info .ternd-category {
  font-size: 12px;
  color: grey;
}
.explore .ex_main-section .trend_card .card-info .trending-title {
  font-size: 10px;
}
.explore .ex_main-section .trend_card .card-info .ternding-view {
  font-size: 12px;
  color: gray;
}
.explore .ex_main-section .trend_card .card-info .more {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s;
}
.explore .ex_main-section .trend_card .card-info .more:hover {
  background-color: rgb(181, 191, 188);
}

@media (max-width: 750px) {
  .search-cont {
    transform: translate(-20px, 0px) !important;
    display: flex;
    gap: 0px !important;
    width: 400px !important;
    justify-content: center !important;
  }
  .search-input {
    width: 250px !important;
  }
}
@media (max-width: 520px) {
  .search-cont {
    justify-content: space-between !important;
    padding: 0 20px;
    width: 100% !important;
  }
  .search-input {
    width: 100% !important;
  }
}
.overview {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 9;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.overview .background {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  background-color: rgba(54, 89, 160, 0.355);
}

.active {
  left: 0;
}

.setting-setion {
  z-index: 99;
  width: 600px;
  height: 80vh;
  border-radius: 50px;
  background-color: #fff;
}

.dark {
  background: #000;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

@media (max-width: 520px) {
  .main-post .post-content .author-fullName {
    font-size: 15px;
  }
  .main-post .post-content .author-fullName .author-username {
    font-size: 12px;
  }
  .main-post .post-content .post-title {
    font-size: 13px;
  }
}
@media (max-width: 520px) {
  .sidebar {
    display: none;
  }
  .main-navbar {
    max-width: 100%;
    border: none;
    padding: -10px;
  }
}
.main-content {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1330px) {
  .tweet svg {
    display: flex;
  }
  .sidebar {
    width: 80px;
  }
  .main-content {
    max-width: 1200px;
    display: flex;
  }
  .container {
    padding: 0 40px;
  }
  .sideCol {
    max-width: 400px;
  }
}
@media (max-width: 1240px) {
  .container {
    max-width: 1100px;
  }
}
@media (max-width: 1100px) {
  .main-content .sideCol {
    display: none;
  }
  .sideCol {
    display: none;
    max-width: 0;
    padding: 0;
    width: 0;
    height: 0;
  }
  .container {
    padding: 0 70px;
  }
}
@media (max-width: 520px) {
  .container {
    padding: 0 10px;
  }
  .footer {
    display: flex;
  }
  .pencil {
    display: flex;
  }
}/*# sourceMappingURL=index.css.map */