.container {
  padding: 0 140px;
  max-width: 1600px;
  margin: 0 auto;
}

.news-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.news-card .news-card_info .card-date {
  font-size: 12px;
  color: #5B7083;
}
.news-card .news-card_info .card_desc {
  font-size: 15px;
}
.news-card .news-card_info .card_hash {
  color: #5B7083;
  font-size: 14px;
}
.news-card .news-card_info .card_hash a {
  color: #1DA1F2;
}
.news-card .card-img .card-user-img {
  border-radius: 15px;
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.show-more {
  font-size: 15px;
  color: #1DA1F2;
  padding-left: 10px;
}

.check {
  color: #1DA1F2;
}

.sidebar {
  width: 263px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar .nav-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: 100vh;
}
.sidebar .nav-container .sidebar-logo {
  padding: 10px;
  color: #1DA1F2;
  font-size: 26px;
  margin-left: 5px;
}
.sidebar .nav-container .navbar {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  gap: 10px;
}
.sidebar .nav-container .navbar .navbar-link {
  font-size: 19px;
  line-height: 15px;
}
.sidebar .nav-container .navbar .navbar-link svg {
  font-size: 24px;
}
.sidebar .nav-container .navbar .navbar-link {
  display: flex;
  gap: 15px;
  align-items: center;
  width: auto;
  color: #0F1419;
  padding: 10px 13px;
  transition: 0.2s;
  border-radius: 30px;
}
.sidebar .nav-container .navbar .navbar-link:focus {
  background-color: #1DA1F2;
  width: 100%;
  color: #fff;
  transform: scale(1.02);
}
.sidebar .nav-container .navbar .navbar-link:hover {
  background-color: #1DA1F2;
  width: 100%;
  color: #fff;
  transform: scale(1.02);
}
.sidebar .nav-container .navbar .active {
  background-color: #1DA1F2;
  width: 100%;
  color: #fff;
  transform: scale(1.02);
}
.sidebar .nav-container .navbar .tweet {
  padding: 15px 20px;
  width: 100%;
  margin-top: 10px;
  background-color: #1DA1F2;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 140px;
  max-width: 1600px;
  margin: 0 auto;
}

.news-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.news-card .news-card_info .card-date {
  font-size: 12px;
  color: #5B7083;
}
.news-card .news-card_info .card_desc {
  font-size: 15px;
}
.news-card .news-card_info .card_hash {
  color: #5B7083;
  font-size: 14px;
}
.news-card .news-card_info .card_hash a {
  color: #1DA1F2;
}
.news-card .card-img .card-user-img {
  border-radius: 15px;
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.show-more {
  font-size: 15px;
  color: #1DA1F2;
  padding-left: 10px;
}

.check {
  color: #1DA1F2;
}

.sideCol {
  overflow-y: scroll;
  height: 100vh;
  /* width */
  width: 390px;
  padding-left: 30px;
}
.sideCol .title {
  font-size: 17px;
  padding: 5px;
}
.sideCol .hr {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 5px 0;
}
.sideCol .header {
  overflow: hidden;
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #fff;
}
.sideCol .header .search {
  height: 39.6px;
  padding: 0 5px;
  border-radius: 20px 0 0 20px;
  outline: none;
  border: none;
  background-color: #EBEEF0;
  padding-left: 10px;
  color: gray;
  padding-bottom: 0.5px;
}
.sideCol .header .search-input {
  outline: none;
  border: 1px solid transparent;
  background-color: #EBEEF0;
  padding: 10px;
  width: 100%;
  max-width: 330px;
  margin-top: 10px;
  border-radius: 0 20px 20px 0;
}
.sideCol .advance-section {
  width: 100%;
  height: auto;
  background-color: rgba(251, 248, 251, 0.867);
  margin-top: 60px;
  padding: 10px;
  border-radius: 10px;
}
.sideCol .advance-section .hr {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 5px 0;
}
.sideCol .who-follow {
  width: 100%;
  height: auto;
  background-color: rgba(251, 248, 251, 0.867);
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}
.sideCol .who-follow .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sideCol .who-follow .user .user-info {
  text-align: center;
}
.sideCol .who-follow .user .user-info .userFullName:first-child {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 5px;
}
.sideCol .who-follow .user .follow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  border: 2px solid #1DA1F2;
  color: #1DA1F2;
  border-radius: 20px;
  transition: 0.2s;
}
.sideCol .who-follow .user .follow:hover {
  background-color: #1DA1F2;
  color: #fff;
}
.sideCol .who-follow .user .user-img img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 0px;
}

.send-btn {
  padding: 5px 20px;
  background-color: #1DA1F2;
  color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid transparent;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}
.send-btn:hover {
  border: 1.5px solid #1DA1F2;
  background-color: transparent;
  color: #1DA1F2;
}

.hr {
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 5px 0;
}

.home {
  overflow-y: scroll;
  height: 100vh;
  width: 600px;
  padding: 0 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
.home .main-navbar {
  width: 600px;
  transform: translateX(-10px);
  background-color: rgba(255, 255, 255, 0.9);
  height: 100px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  font-size: 18px;
  padding: 10px;
  position: fixed;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.home .main-navbar .navbar-menu {
  display: flex;
  margin-top: 15px;
}
.home .main-navbar .navbar-menu .navbar-link {
  width: 50%;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.home .main-navbar .navbar-menu .navbar-link:hover {
  background-color: rgba(220, 219, 220, 0.867);
}
.home .main-navbar .navbar-menu .active {
  border-bottom: 3px solid #1DA1F2;
  border-width: 4px;
}
.home .home-header {
  margin-top: 100px;
  padding-top: 10px;
  display: flex;
  width: 100%;
  gap: 10px;
  margin-bottom: 15px;
}
.home .home-header .header-img img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.home .home-header .header-main {
  display: flex;
  gap: 25px;
  width: 100%;
  flex-direction: column;
}
.home .home-header .header-main .header-input {
  margin-top: 12px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 17px;
  padding-left: 10px;
}
.home .home-header .header-main .header-input::-moz-placeholder {
  font-size: 19px;
}
.home .home-header .header-main .header-input:-ms-input-placeholder {
  font-size: 19px;
}
.home .home-header .header-main .header-input::placeholder {
  font-size: 19px;
}
.home .home-header .header-main .header-actions {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
.home .home-header .header-main .header-actions .group {
  display: flex;
  color: #1DA1F2;
  gap: 10px;
}
.home .home-header .header-main .header-actions .group .action-btn {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.main-post {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}
.main-post .author-img img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.main-post .post-content .author-fullName {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  gap: 5px;
}
.main-post .post-content .author-fullName a {
  font-size: 15px;
  color: gray;
  font-weight: normal;
  margin: 0 5px;
}
.main-post .post-content .post-title {
  font-size: 17px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.main-post .post-content .post-media img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.main-post .post-content .actions {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
.main-post .post-content .actions a {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}
.main-post .post-content .actions .comment:hover {
  color: #1DA1F2;
}
.main-post .post-content .actions .retween:hover {
  color: rgb(105, 239, 105);
}
.main-post .post-content .actions .like:hover {
  color: rgb(214, 76, 76);
}
.main-post .post-content .actions .view:hover {
  color: #1DA1F2;
}
.main-post .post-content .actions .share:hover {
  color: #1DA1F2;
}

.main-content {
  justify-content: flex-start;
}

.user-profile {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.user-profile .prof_nav {
  text-transform: capitalize;
  padding: 20px;
  width: 600px;
  margin: 0 auto;
  transform: translateX(0%);
  background-color: rgba(255, 255, 255, 0.9);
  height: 60px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  font-size: 18px;
  position: fixed;
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 99;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.user-profile .main_section {
  margin-top: 60px;
  width: 600px;
  display: flex;
  flex-direction: column;
}
.user-profile .main_section .user-placeholder {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  transition: 0.3s;
}
.user-profile .main_section .user-placeholder .placeholder {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-profile .main_section .user-placeholder .placeholder:hover {
  filter: blur(1.2px);
}
.user-profile .main_section .user-placeholder .user-img {
  position: relative;
  top: -72px;
  left: 20px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  border: 4px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1.3s;
  cursor: pointer;
}
.user-profile .main_section .user-placeholder .user-img img {
  width: 140px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  transition: 0.2 0.3s;
}
.user-profile .main_section .user-placeholder .edit_btn {
  transform: translateY(-130px);
  position: relative;
  left: 82%;
}
.user-profile .main_section .user-placeholder .edit_btn button {
  background-color: transparent;
  border: 1px solid rgb(207, 217, 222);
  padding: 4px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.user-profile .main_section .user-placeholder .edit_btn button:hover {
  background-color: rgba(220, 219, 220, 0.867);
}
.user-profile .main_section .user-info {
  margin-top: 100px;
  margin-left: 20px;
}
.user-profile .main_section .user-info .user-full-name {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 19px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.user-profile .main_section .user-info .bio {
  margin-top: 10px;
}
.user-profile .main_section .user-info .joined {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.user-profile .main_section .user-info .actives {
  display: flex;
  margin-top: 10px;
  gap: 15px;
}
.user-profile .main_section .user-info .actives .follow-link {
  display: flex;
  gap: 10px;
}
.user-profile .main_section .user-info .actives .follow-link:hover {
  color: #1DA1F2;
}
.user-profile .actions {
  padding: 0 10px;
  margin-top: 30px;
}
.user-profile .actions .actions_btns {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.user-profile .actions .actions_btns .actions_btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-profile .actions .actions_btns .actions_btn:hover {
  background-color: rgba(220, 219, 220, 0.867);
}
.user-profile .actions .actions_btns .active {
  border-bottom: 3px solid #1DA1F2;
  border-width: 10%;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

.main-content {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=index.css.map */